@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body{
    font-size: 22px;
  }

  :root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}
  
  *, ::before, ::after {
    box-sizing: inherit;
  }

  .overlay-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures video covers the entire container */
  z-index: -1; /* Places video behind overlay and content */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36); /* Adjust opacity and color as needed */
  opacity: 0.4;
  z-index: 0; /* Places overlay above the video */

} 
  .welcome-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  h1, h2 {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    text-align: center;
  }

  .my-pic{
    position: relative; /* Ensure the image stays within its container */
    display: block; /* Ensures the image is displayed as a block element */
    width: 200px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 20vh auto; /* Center the image horizontally */
    margin-bottom: 2vh;
    z-index: 1; /* Ensure the image is above the overlay */
    
    /* Styling */
    border-radius: 50%;
    width: 19.5%;
    box-shadow: 0px 0px 20px 2px rgb(54, 184, 42);
  }
  
  h1,.about-me-para{
    position: relative; /* Ensure text stays within its container */
    text-align: center; /* Center align text */
    z-index: 1; /* Ensure text is above the overlay */
    color: var(--main-white); /* Text color */
    padding-top: 6vh;
  }

  .about-me-para{
    color: var(--main-red);
    font-size: 20px;
    padding-top: 18px;
    font-family: poppins;
    font-weight: 500;
    font-style: italic;
    color: #cccccc;
  }

 .auto-type{
  font-size: 55px;
  font-family: raleway;
  position: relative;
  height: 100%;
 }
  
  .welcome-section > .auto-type{
    padding-top: 20px;
    text-align: center;
    font-family: poppins;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: var(--main-red);
  }

  
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 0px;
    z-index: 10;
  }
  
  ul {
    list-style: none;
  }

  .nav-list {
    display: flex;
    margin-right: 2rem;
    font-family: poppins;
    font-size: 20px;
  }
  
  a {
    text-decoration: none;
    color: var(--main-white);
  }
  
  .nav-list a {
    display: block;
    padding: 1.4rem;
  }
  
  .nav-list a:hover {
    background: var(--main-blue);
    transition: 0.3s;
  }
  
  .nav-list a:not(:hover){
    transition: 0.2s;
  }
  
  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
  }
  
  .projects-section-header {
    line-height: 1.5;
    font-size: 42px;
    font-weight: 700;
    max-width: 640px;
    margin: -60px auto 6rem;
    color: var(--main-white);
    border-bottom: 0.2rem solid var(--main-white);
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2.9rem;
    width: 100%;
    max-width: 1300px;
    margin: -30px auto 6rem;
  }
  
  .project {
    background: var(--main-gray);
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
    border-radius: 2px;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    /* font-size: 2rem; */
    font-family: poppins;
    font-size: 20px;
    padding: 2rem 0.5rem;
    color: var(--main-white);
  }
  
  .code {
    color: var(--main-gray);
    font-size: 22px;
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: rgb(255, 127, 80);
  }
  
  .btn {
    display: inline-block;
    padding: 0.7rem 1.3rem;
    border-radius: 2px;
    margin-top: -30px;
  }
  
  .btn-show-all {
    font-size: 19px;
    font-family: poppins;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
  }
  
  .btn-show-all:hover {
    background: var(--main-red);
  }
  
  .fa, .fab, .fal, .far, .fas {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
  
  .fa-chevron-right::before {
    content: "";
  }
  
  .fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
  }
  
  .fa, .fas {
    font-weight: 900;
  }
  
  .btn-show-all:hover > i {
    transform: translateX(2px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }

  #skills-sec{
    padding: 20px;
    background: #4d4d4d;
    padding-bottom: 60px;
  }

  .skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
    max-width: 1200px;
  }

  .skills-heading{
    color: var(--main-white);
    padding-top: 30px;
    font-family: raleway;
    text-align: center;
  }

  .skills-icons{
    width: 73px;
    height: auto;
    max-width: 100px;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 100%; */
    height: 55vh;
    padding: 0 2rem;
    background: var(--main-gray);
  }
  
  .contact-section-header > h2 {
    padding-top: 23px;
    font-size: 55.68px;
    color: var(--main-white);
  }
  
  .contact-section-header > em {
    font-size: 16px;
    font-style: italic;
    font-family: poppins;
    font-weight: 200;
    color: var(--main-white);
    padding-top: 5px;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    padding-top: 4rem;
    flex-wrap: wrap;
    font-family: Poppins, sans-serif;
    padding-bottom: 30px;
  }
  
  .contact-details {
    text-shadow: rgb(31, 31, 31) 2px 2px 1px;
    transition: transform 0.3s ease-out;
    margin: 1px;
    text-decoration: none;
    color: var(--main-white);
  }

  .contact-details:hover {
    transform: translateY(8px);
  }
  
  .fa-facebook-square::before {
    content: "";
  }
  
  .fab {
    font-family: "Font Awesome 5 Brands";
  }
  
  .fa-github::before {
    content: "";
  }
  
  .fa-twitter::before {
    content: "";
  }
  
  .fa-at::before {
    content: "";
  }
  
  .fa-mobile-alt::before {
    content: "";
  }
  
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: -90px;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
  }
  
  footer > p {
    font-style: normal;
    padding: -10px auto;
    font-size: 17px;
    color: var(--main-white);
    margin: 30px auto;
    font-family: poppins;
  }
  
  footer i {
    vertical-align: middle;
    padding-right: 10px;
  }
  
  @media (max-width: 460px) {
    ul{
      padding-top: 4px;
    }
    li{
      font-size: 16px;
      justify-content: baseline;
    }
    li:nth-of-type(1){
      margin-left: 10px;
    }

    .welcome-section{
      height: 115vh;
      max-height: 127vh;
    }

    .my-pic{
      width: 200px;
    }

    .projects-section-header{
      font-size: 21px;
      padding-top: -80px;
    }

    .skills-icons{
      width: 40px;
      height: auto;
    }

    .contact-section{
      height: 60vh;
    }

    .contact-section-header .working{
      font-size: 30px;
    }

    .contact-details{
      font-size: 20px;
    }

    .copyright{
      font-size: 14px;
      text-align: center;
    }
  }