@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 22px;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

:root {
  --main-white: #f0f0f0;
  --main-red: #6d9f33;
  --main-blue: #1c2b41;
  --main-gray: #222222;
}


.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e1e1e;
  z-index: 1000;
}

.loader .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 5px;
  animation: bounce 0.9s infinite ease-in-out;
}

.loader .circle:nth-child(2) {
  animation-delay: 0.1s;
}

.loader .circle:nth-child(3) {
  animation-delay: 0.2s;
}

.content {
  display: none; /* Hide content initially */
  transition: 0.2s;
}

.content.loaded {
  display: block; /* Show content when loaded */
  transition: 0.2s;
 
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}




*, ::before, ::after {
  box-sizing: inherit;
}

.overlay-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.4);
  z-index: 0;
}

.welcome-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-height: 127vh;
  overflow: hidden;
}

h1, h2 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-align: center;
}
.pic-div {
  position: relative;
  width: 80%; /* Adjust width for smaller screens */
  max-width: 300px; /* Example max-width to prevent it from getting too large */
  height: auto; /* Adjust height as needed */
  margin: 10vh auto 2vh auto; /* Adjust margins */
  overflow: hidden;
  border-radius: 50%;
  margin-top: 16vh;
}

.pic-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 60px;
  width: 45%;
  height: 180%;
  background: rgb(42, 214, 19);
  animation: motion 4s linear infinite;

  transform-origin: middle;
}

.pic-div:hover::before{
  animation: motion 2s linear infinite;
  background-image: linear-gradient(rgb(19, 236, 37), rgb(5, 164, 238));
  transform: rotate(60deg);
}

.pic-div::after{
  content: "";
  position: absolute;
  inset: 8px;
    background-image: url('images/my_pic.png');
    background-repeat: no-repeat;
    background-size: cover;
  border-radius: 50%;
  
}

@keyframes motion {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media (max-width: 768px) {
  .pic-div img{
    width: 200px;
    height: auto;
  }
}

@media (max-width: 460px) {
  .pic-div{
    width: 200px;
    height: auto;
    
  }
}

h1, .about-me-para {
  text-align: center;
  z-index: 1;
  color: var(--main-white);
  padding-top: 6vh;
}

.about-me-para {
  color: var(--main-red);
  font-size: 1rem;
  padding-top: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #ffffff;
  z-index: -1;
}

.auto-type {
  font-size: 3rem;
  font-family: Raleway, sans-serif;
  position: relative;
  height: 100%;
}

.welcome-section > .auto-type {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  color: var(--main-red);
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(20, 151, 31);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 0px;
  z-index: 10;
}

ul {
  list-style: none;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

.nav-list a {
  display: block;
  padding: 1rem;
}

.nav-list a:hover {
  background: var(--main-blue);
  transition: 0.3s;
}

.nav-list a:not(:hover) {
  transition: 0.2s;
}

/* ----------------ABOUT SECTION----------------------- */

/* Base styles for .about-section */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 0; /* Adjusted for responsiveness */
  background-color: #1e1e1e;
}

.container {
  display: flex;
  align-items: center; /* Center content */
  max-width: 95%; /* Adjusted for responsiveness */
  width: 80%;
  padding: 20px;
  padding-top: 35px;
  background-color: #9b9b9b;
  box-shadow: 0 0 15px 20px rgba(20, 20, 20, 0.9);
  border: none;
  border-radius: 10px;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Add margin for spacing */
}

.about-image img {
  max-width: 100%; /* Adjusted for responsiveness */
  width: 70%;
  border-radius: 10px;
  border: 2px solid #6a1b9a;
}

.about-content {
  flex: 2;
  padding-left: 20px;
  text-align: left; /* Center text content */
}

.who-am-i {
  font-size: 0.8em;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin: 0;
}

.about-me {
  font-size: 2em; /* Adjust for mobile */
  color: #6a1b9a;
  margin: 10px 0;
}

.about-description {
  font-size: 0.8em;
  font-family: jost;
  color: rgb(0, 0, 0);
  line-height: 1.6;
}

.download-cv {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 0.6em; /* Adjust for mobile */
  font-family: jost;
  font-weight: 600;
  color: #6a1b9a;
  border: 2px solid #6a1b9a;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-cv:hover {
  background-color: #6a1b9a;
  color: #fff;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .about-me {
    font-size: 1.2em; /* Adjust font size for tablets */
  }

  .download-cv {
    font-size: 0.7em; /* Adjust font size for tablets */
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .about-section {
    padding: 15vh 0; /* Adjust padding for mobile */
    
  }
    .container {
    padding-top: 20px;
  }

  .about-me {
    font-size: 1em; /* Adjust font size for mobile */
  }

  .download-cv {
    font-size: 0.6em; /* Adjust font size for mobile */
  }
}


/* ---------------END ABOUT SECTION---------------- */

.projects-section {
  text-align: center;
  padding: 5rem 1rem;
  background: var(--main-blue);
}

.projects-section-header {
  line-height: 1.5;
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 640px;
  margin: -30px auto 3rem;
  color: var(--main-white);
  border-bottom: 0.2rem solid var(--main-white);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.6rem;
  width: 80%;
  max-width: 1300px;
  margin: 10px auto 3rem;
}

.project {
  background: var(--main-gray);
  border-radius: 2px;
  overflow: hidden; /* Ensures no overflow content visible */
}

img {
  display: block;
  width: 100%;
}

.project-image {
  height: calc(100% - 3.4rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  color: var(--main-white);
}

.code {
  color: var(--main-gray);
  font-size: 1rem;
  transition: color 0.3s ease-out;
  border-radius: 2px solid black;
}

.project:hover .code {
  color: rgb(255, 127, 80);
}

.cssbuttons-io-button {
  background: #10b935;
  color: white;
  font-family: poppins;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 15px;
  font-weight: 500;
  border-radius: 0.9em;
  margin-left: auto;
  margin-right: auto;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #10b935;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #0c7e25;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}


 
.fa-chevron-right::before {
  content: "ï”";
}

.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
}

.fa, .fas {
  font-weight: 900;
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

#skills-sec {
  padding: 20px;
  background: #465737;
  padding-bottom: 60px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  max-width: 1200px;
}

.skills-heading {
  color: var(--main-white);
  padding-top: 30px;
  font-family: Raleway, sans-serif;
  text-align: center;
}

.skills-icons {
  width: 75px;
  height: auto;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  height: auto;
  background: var(--main-gray);
  overflow: hidden;
}

.contact-section-header {
  margin-bottom: 2rem;
}

.working {
  font-size: 2.4rem;
  color: var(--main-white);
  font-family: Raleway, sans-serif;
}

.contact-section-header > .working {
  padding-top: 30px;
  font-size: 2.5rem;
}

.contact-section-header > em {
  font-size: 1rem;
  font-style: italic;
  font-family: Poppins, sans-serif;
  font-weight: 200;
  color: var(--main-white);
  padding-top: 5px;
}

.social-links{
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin-bottom: 60px;
}

.button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045);
  position: relative;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  transition: 0.1s;
  overflow: hidden;
  margin-top: 10px;
  padding: 3px;
  margin-left: 15px;
}

@media (max-width: 460px){
  .button{
    margin-left: 8px;
  }
}

.button svg {
  color: white;
  width: 30px;
  height: 30px;
  z-index: 9;
}

.button:nth-child(3) {
  background: linear-gradient(120deg, #02ff2c, #008a12);
}

.button:nth-child(4) {
  background: rgb(69, 187, 255);
}

.button:nth-child(5) {
  background: rgb(255, 33, 33);
}

.button:nth-child(6) {
  background: black;
}

.button:active {
  transform: scale(0.85);
}

.button::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  background-color: #212121;
  border-radius: 50px;
  z-index: -1;
  border: 0px solid rgba(255, 255, 255, 0.411);
  transition: 0.4s;
}

.button:hover::before {
  width: 0px;
  height: 0px;
}


.contact-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden; 
}

.contact-form label {
  color: var(--main-white);
  font-family: Raleway, sans-serif;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  display: block;
}

.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  font-family: Poppins, sans-serif;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 2px solid var(--main-red);
  border-radius: 2px;
  background-color: transparent;
  color: var(--main-white);
  font-size: 1rem;
  box-sizing: border-box;
}

.contact-form textarea {
  min-height: 130px;
}

.btn {
  padding: 15px 25px;
  border: unset;
  border-radius: 50px;
  color: #212121;
  width: -40%;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 900;
  font-size: 15px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  text-transform: uppercase;  
  font-family: jost;
  letter-spacing: 0.1em;
  font-size: 15px;
 }
 
 .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: var(--main-blue);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition:  250ms
 }
 
 .btn:hover {
  color: #e8e8e8;
 }
 
 .btn:hover::before {
  width: 100%;
 }

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
}

footer > p {
  font-style: normal;
  padding: 10px auto;
  font-size: 1rem;
  color: var(--main-white);
  margin: 30px auto;
  font-family: Poppins, sans-serif;
}

@media (max-width: 768px) {
  .pic-div {
    width: 200px;
  }

  .contact-section {
    padding: 3rem 1rem;
  }

  .contact-form {
    max-width: 90%;
  }
}

@media (max-width: 460px) {
  .welcome-section {
    height: 100vh;
    max-height: 127vh;
  }

  .pic-div {
    width: 200px;
  }

  .projects-section-header {
    font-size: 1rem;
    padding-top: -80px;
  }

  .skills-icons {
    width: 40px;
    height: auto;
  }

  .contact-section {
    height: auto;
  }

  .contact-section-header .working {
    font-size: 1.5rem;
  }


  .copyright {
    font-size: 0.8rem;
    text-align: center;
  }

  .auto-type {
    font-size: 2.5rem;
  }

  .contact-form input[type="email"] {
    font-size: 0.9rem;
  }

}
